// Variables global
$playBtnIdle: #ddd;
$playBtnHover: #fff;
$playBtnSize: 70px;
$playBtnShadow: 0 0 10px rgba(0, 0, 0, .66);
$noPictPlayBtnSize: 45px;
$noPictPlayerBackground: #eee;
$noPictPlayerMarginTop: 1em;
$noPictPlayerPadding: 5px;
$colorControlsBtn: #fff;