// Variables global for audioplayer
$audioPlayerColor: #585856;
$audioPlayerAccentColor: #e31818;
$audioPlayerBgColor: #d5d5d5;
$audioPlayerBorderColor: #868686;

$playBtnIdle: #ddd;
$playBtnHover: #fff;
$playBtnSize: 70px;
$playBtnShadow: 0 0 10px rgba(0, 0, 0, .66);
$noPictPlayBtnSize: 33px;
$noPictContainerPadding: 3px;
$noPictBackground: #eee;
$noPictMarginTop: 1em;
$audioListPlayerHeight: 32px;
$audioListContainerPadding: 8px;
$audioListPlayBtnSize: 30px;
$audioListPlayBtnIdle: #585856;
$audioListPlayBtnHover: #000;
$audioListMarginTop: 34px;
$audioListFirstMarginTop: 15px;
$colorControlsBtn: #585856;
$spinnerSize: 40px;
$spinnerLight: #ddd;
$spinnerDark: #585856;