.audioplayer {
  bottom: 0;
  height: 2.5em; /* 30 */
  color: $audioPlayerColor;
  z-index: 1;
  background: $audioPlayerBgColor;
  position: absolute;
  width: 100%;
  font-size: 12px;

  // player elements: play/pause and volume buttons, played/duration timers, progress bar of loaded/played
  & > div {
    position: absolute;
  }

  // play/pause button
  &-playpause {
    width: 2.5em; /* 30 */
    height: 100%;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    left: 0;
    background: url(/basis/grafik/spr-play.svg) no-repeat;
    background-size: auto 120px;
    background-position: center -43px;
  }

  .audioplayer-playpause {
    &:hover, &:focus {
      background-color: $audioPlayerColor;
      background-position: center -68px;
    }
    .audioplayer-playing & {
      background-position: center -43px;
      &:hover, &:focus {
        background-position: center -68px;
      }
    }
  }

  // timers
  .audioplayer-time {
    width: 4.375em; /* 70 */
    height: 100%;
    line-height: 2.375em; /* 38 */
    text-align: center;
    z-index: 2;
    top: 0;
  }

  .audioplayer-time-current {
    border-left: 1px solid $audioPlayerBorderColor;
    left: 2.5em; /* 40 */
  }

  .audioplayer-time-duration {
    border-right: 1px solid $audioPlayerBorderColor;
    right: 7.5em; /* 40 */
  }

  .audioplayer-novolume .audioplayer-time-duration {
    border-right: 0;
    right: 0;
  }

  // progress bar of loaded/played
  .audioplayer-bar {
    height: 0.875em; /* 14 */
    background-color: $audioPlayerColor;
    cursor: pointer;
    z-index: 1;
    top: 50%;
    right: 11.875em; /* 110 */
    left: 6.875em; /* 110 */
    margin-top: -0.438em; /* 7 */
    div {
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .audioplayer-novolume .audioplayer-bar {
    right: 4.375em; /* 70 */
  }
  .audioplayer-bar-loaded {
    background-color: #000;
    z-index: 1;
  }
  .audioplayer-bar-played {
    z-index: 2;
  }

  .skip-btn {
    width: 2.5em;
    height: 100%;
    top: 0;
    cursor: pointer;
    background: url(/basis/grafik/spr-ffwd.svg) no-repeat;
    background-size: 1.5em auto;
    background-position: center .4em;
  }

  .audioplayer-skip-fwd {
    right: 2.5em;
    border-left: 1px solid $audioPlayerBorderColor;
    &:focus, &:hover {
      background-color: $audioPlayerColor;
      background-position: center -1.6em;
    }
  }

  .audioplayer-skip-bwd {
    right: 5em;
    background-position: center -3.6em;
    &:focus, &:hover {
      background-color: $audioPlayerColor;
      background-position: center -5.6em;
    }
  }

  // volume button
  .audioplayer-volume {
    width: 2.5em; /* 40 */
    height: 100%;
    border-left: 1px solid $audioPlayerBorderColor;
    cursor: pointer;
    z-index: 2;
    top: 0;
    right: 0;
  }

  .audioplayer-volume-button {
    width: 100%;
    height: 100%;
    background: url(/basis/grafik/spr-speaker.svg) no-repeat;
    background-size: 1.5em auto;
    background-position: center .6em;
    &:hover, &:focus {
      background-color: $audioPlayerColor;
      background-position: center -1.55em;
    }
  }

  // volume dropdown
  .audioplayer-volume-adjust {
    height: 6.25em; /* 100 */
    cursor: default;
    position: absolute;
    left: 0;
    right: -1px;
    top: -9999px;
    background: $audioPlayerBgColor;
  }

  .audioplayer-volume {
    &:not(:hover) .audioplayer-volume-adjust {
      opacity: 0;
    }
    &:hover .audioplayer-volume-adjust {
      top: auto;
      bottom: 100%;
    }
  }
  .audioplayer-volume-adjust {
    & > div {
      width: 40%;
      height: 80%;
      background-color: $audioPlayerColor;
      cursor: pointer;
      position: relative;
      z-index: 1;
      margin: 30% auto 0;
    }
    div div {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .audioplayer-novolume .audioplayer-volume {
    display: none;
  }

  &-bar-played {
    background: $audioPlayerAccentColor;
  }

  &-volume-adjust div div {
    background: $audioPlayerAccentColor;
  }

  & *,
  & *:before,
  & *:after {
    transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  }
}
