.audio-btn {
    border-radius: 50%;
    color: $playBtnIdle;
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
        color: $playBtnHover;
    }
    &::before {
        content: '<';
        font: normal $playBtnSize/1 'Icon-Font';
        speak: none;
        text-shadow: $playBtnShadow;
    }
    .manualteaserpicture & {
        height: $playBtnSize;
        width: $playBtnSize;
    }
    .layoutaudio_ohne_bild & {
        height: $noPictPlayBtnSize;
        width: $noPictPlayBtnSize;
    }
    .layoutaudio_ohne_bild &::before {
        font-size: $noPictPlayBtnSize;
    }
}
