@font-face
{
    font-family: 'Thesis';
    src:  url('fonts/TheSans_LT_TT5_.eot#') format('eot'),
    url('fonts/TheSans_LT_TT5_.woff') format('woff'),
    url('fonts/TheSans_LT_TT5_.svg') format('svg');
    font-weight: normal;
}
