// Variables specific to radioeins
$playBtnSize: 30px;

$audioPlayerColorLight: #ff9c34;
$audioPlayerColorBright: #ff8300;
$audioPlayerColorDark: #d16c01;
$audioPlayerGradient: linear-gradient(to bottom, $audioPlayerColorBright 0%, $audioPlayerColorDark 100%);

$audioPlayerTextColor: #fff;
$audioPlayerBgBar: $audioPlayerColorDark;
$audioPlayerBgLoaded: $audioPlayerColorLight;
$audioPlayerBgColor: $audioPlayerGradient;
$audioPlayerBgColorHover: transparent;
$audioPlayerBorderColor: transparent;
$audioPlayerAccentColor: #fff;

$spinnerSize: 28px;
$spinnerLight: white;
$spinnerDark: #1f2122;