// Variables specific to radioeins
$playBtnSize: 30px;

$audioPlayerColorLight: #ff9c34;
$audioPlayerColorBright: #ff8300;
$audioPlayerColorDark: #e27400;
$audioPlayerGradient: linear-gradient(to bottom, $audioPlayerColorBright 0%, $audioPlayerColorDark 100%);

$audioPlayerColor: #fff;
$audioPlayerBgBar: $audioPlayerColorDark;
$audioPlayerBgLoaded: $audioPlayerColorLight;
$audioPlayerBgColor: $audioPlayerGradient;
$audioPlayerBgColorHover: transparent;
$audioPlayerBorderColor: transparent;
$audioPlayerAccentColor: #fff;

