.audio-btn {
    .audiolist & {
        background-color: transparent;
        background-image: url('/basis/grafik/spr-play-frz.svg');
        background-size: auto 11.5em;
        background-position: center -0.2em;
        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            background-position: center -3.1em;
        }
    }

    .audiolist.player.isLoading & {
        display: none;
    }

    .audiolist.isInitialized & {
        display: block;
    }
    .audiolist.audioplayer-playing & {
        & {
            background-position: center -5.9em;
        }
        &:hover,
        &:focus,
        &:active {
            background-position: center -8.8em;
        }
    }
    .tr_audio & {
        background-color: white;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 30;
        @include breakpoint(xs) {
            left: 15px;
            top: -25px;
        }
    }
    .layoutjustify_2_4 .layoutaudioliste &,
    .layoutjustify_2_4 .layoutaudioliste.manualteaser.count1 &,
    .layoutjustify_2_4 .layoutaudioliste.manualteaser.count2 & {
        margin-top: $audioListFirstMarginTop*2;
    }
    .layoutaudioliste &,
    .layoutjustify_2_4 .tab_content .layoutaudioliste & {
        margin-top: $audioListFirstMarginTop;
    }
}