.audio-btn {
    background: url('/basis/grafik/spr-initbtn.svg') no-repeat;
    background-size: $playBtnSize*2 auto;
    background-position: $playBtnSize*-1 0;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px black);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
        background-position: $playBtnSize*-1 $playBtnSize*-1;
    }
    .player.isInitialized & {
        display: none !important;
        .layoutaudioliste & {
            display: block !important;
        }
    }
    .manualteaserpicture & {
        height: $playBtnSize;
        width: $playBtnSize;
    }
    .layoutaudio_ohne_bild & {
        background: url('/basis/grafik/spr-play.svg') left top no-repeat;
        background-size: auto $noPictPlayBtnSize*4;
        filter: none;
        height: $noPictPlayBtnSize;
        width: $noPictPlayBtnSize;
        left: $noPictContainerPadding;
        top: 0;
        transform: none;
        &:hover,
        &:focus,
        &:active {
            background-color: $noPictPlayBtnHover;
            background-position: 0 $noPictPlayBtnSize*-1;
        }
    }
    .layoutaudioliste & {
        background: url('/basis/grafik/spr-play.svg') left top no-repeat;
        background-size: auto $noPictPlayBtnSize*4;
        filter: none;
        height: $noPictPlayBtnSize;
        left: 0;
        margin-top: $audioListMarginTop;
        top: 0;
        transform: none;
        width: $noPictPlayBtnSize;
        &:hover,
        &:focus,
        &:active {
            background-color: $noPictPlayBtnHover;
            background-position: 0 $noPictPlayBtnSize*-1;
        }
    }
    .layoutaudioliste.first & {
        margin-top: $audioListFirstMarginTop;
    }
    .layoutaudioliste .audioplayer-playing & {
        background-position: 0 $noPictPlayBtnSize*-2;
        &:hover,
        &:focus,
        &:active {
            background-position: 0 $noPictPlayBtnSize*-3;
        }
    }
}
