.audio-btn {
  .layoutcharts_top3_teaser & {
    background-size: auto $playBtnSizeSmall*2;
    background-position: -$playBtnSizeSmall 0;
    height: $playBtnSizeSmall;
    width: $playBtnSizeSmall;
  }
}