.audioplayer {
    bottom: 0;
    left: 0;
    height: $audioPlayerSize;
    color: $audioPlayerTextColor;
    z-index: 1;
    background: $audioPlayerBgColor;
    position: absolute;
    width: 100%;
    font-size: $audioPlayerFontSize;

    // player elements:
    // play/pause and volume buttons,
    // played/duration timers,
    // progress bar of loaded/played
    & > div {
        position: absolute;
    }

    .audioplayer-playpause, .audioplayer-volume-button {
        background-size: auto $audioPlayerSize*4;
    }

    .skip-btn {
        background-size: auto $audioPlayerSize*6;
    }

    // play/pause button
    &-playpause {
        width: $audioPlayerSize;
        height: 100%;
        text-align: left;
        text-indent: -9999px;
        cursor: pointer;
        z-index: 2;
        top: 0;
        left: 0;
        background-image: url(/basis/grafik/spr-play.svg);
        background-repeat: no-repeat;
        background-position: center 0;
    }

    .audioplayer-playpause {
        &:hover, &:focus {
            background-color: $audioPlayerBgColorHover;
            background-position: center -1*$audioPlayerSize;
        }
        .audioplayer-playing & {
            background-position: center -2*$audioPlayerSize;
            &:hover, &:focus {
                background-position: center -3*$audioPlayerSize;
            }
        }
    }

    // timers
    .audioplayer-time {
        width: 3.75em; /* 45 */
        height: 100%;
        line-height: 2.5em;
        text-align: center;
        z-index: 2;
        top: 0;
    }

    .audioplayer-time-current {
        border-left: 1px solid $audioPlayerBorderColor;
        left: $audioPlayerSize;
    }

    .audioplayer-time-duration {
        right: 2.5em; /* 30 */
    }


    &.audioplayer-novolume .audioplayer-time-duration {
        border-right: 0;
        right: 0;
    }

    // progress bar of loaded/played
    .audioplayer-bar {
        height: 1em; /* 12 */
        background-color: $audioPlayerBgBar;
        cursor: pointer;
        z-index: 1;
        top: 50%;
        right: 6.25em; /* 75 */
        left: 6.25em; /* 75 */
        margin-top: -0.5em; /* 6 */
        div {
            width: 0;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &.audioplayer-novolume .audioplayer-bar {
        right: 3.75em; /* 45 */
    }

    .audioplayer-bar-played {
        z-index: 2;
    }

    // volume button
    .audioplayer-volume {
        width: $audioPlayerSize;
        height: 100%;
        border-left: 1px solid $audioPlayerBorderColor;
        cursor: pointer;
        z-index: 2;
        top: 0;
        right: 0;
    }

    .audioplayer-volume-button {
        width: 100%;
        height: 100%;
        background-image: url(/basis/grafik/spr-speaker.svg);
        background-repeat: no-repeat;
        background-position: center 0;
        &:hover, &:focus {
            background-color: $audioPlayerBgColorHover;
            background-position: center -1*$audioPlayerSize;
        }
    }

    &.audioplayer-muted .audioplayer-volume-button {
        background-position: center -2*$audioPlayerSize;
        &:hover, &:focus {
            background-position: center -3*$audioPlayerSize;
        }
    }

    // volume dropdown
    .audioplayer-volume-adjust {
        height: 6.25em; /* 75 */
        cursor: default;
        position: absolute;
        left: -1px;
        top: -9999px;
        width: calc(100% + 1px); /* because of border */
        background: $audioPlayerBgColor;
    }

    .audioplayer-volume {
        &:not(:hover) .audioplayer-volume-adjust {
            opacity: 0;
        }
        &:hover .audioplayer-volume-adjust {
            top: auto;
            bottom: 100%;
        }
    }
    .audioplayer-volume-adjust {
        & > div {
            width: 40%;
            height: 80%;
            background-color: $audioPlayerBgBar;
            cursor: pointer;
            position: relative;
            z-index: 1;
            margin: 30% auto 0;
        }
        div div {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &.audioplayer-novolume .audioplayer-volume {
        display: none;
    }

    &-bar-played {
        background: $audioPlayerAccentColor;
    }

    &-volume-adjust div div {
        background: $audioPlayerAccentColor;
    }

    & *,
    & *:before,
    & *:after {
        transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    }
}
