.audio-btn {
    .layoutaudioliste & {
        background-color: $audioPlayerBgColor;
        &:hover,
        &:focus,
        &:active {
          background-color: $noPictPlayBtnHover;
          background-position: 0 $noPictPlayBtnSize*-1;
        }
    }
}