.audioplayer {
    .audioplayer-skip-bwd,
    .audioplayer-skip-fwd {
        display: none;
    }
    .noseek & {
        .audioplayer-skip-bwd,
        .audioplayer-skip-fwd {
            display: block;
        }

        .audioplayer-bar {
            display: none;
        }

        .audioplayer-time-duration {
            border-right: 1px solid $audioPlayerBorderColor;
            right: 7.5em; /* 90 */
        }

        .skip-btn {
            width: $audioPlayerSize;
            height: 100%;
            top: 0;
            cursor: pointer;
            background-image: url(/basis/grafik/spr-ffwd.svg);
            background-repeat: no-repeat;
            background-position: center 0;
        }

        .audioplayer-skip-fwd {
            right: $audioPlayerSize;
            border-left: 1px solid $audioPlayerBorderColor;
            &:focus, &:hover {
                background-color: $audioPlayerBgColorHover;
                background-position: center -1*$audioPlayerSize;
            }
        }

        .audioplayer-skip-bwd {
            right: 5em;
            background-position: center -2*$audioPlayerSize;
            &:focus, &:hover {
                background-color: $audioPlayerBgColorHover;
                background-position: center -3*$audioPlayerSize;
            }
        }

        &.audioplayer-novolume {
            .audioplayer-time-duration {
                display: block;
                right: 5em;
            }
            .audioplayer-skip-bwd {
                right: 2.5em;
            }
            .audioplayer-skip-fwd {
                right: 0;
            }
        }
    }
    &.isLivestream {
        .audioplayer- {
            &skip-bwd,
            &skip-fwd,
            &bar {
                display: none;
            }
        }
    }
    .layoutaudioliste & {
        height: 0;
        transition: all .3s ease;
        opacity: 0;
    }
    .layoutaudioliste &.audioplayer-playing {
        opacity: 1;
        height: $audioListPlayerHeight;
    }
}