// ToDo check if possible
.manualteaser .playerdownload {
    overflow: visible;
    text-align: right;
}

#center a.download {
    display: inline-block;
    float: none;
}

.player.audio {
    &.isInitialized {
        .audio-btn {
            display: none;
        }
    }
    .playerdownload & {
        height: 40px;
        border-radius: 4px;
        background: $audioPlayerBgColor;
        overflow: visible;
        .audioplayer {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

// hide duration for manualteaser layoutstandard when audioplayer has class audioplayer-noseek
.manualteaser.layoutstandard {
    .manualteaserpicture.audioplayer-noseek {
        .audioplayer-time-duration {
            display: none;
        }
        .audioplayer-novolume {
            .audioplayer-time-duration {
                display: block;
            }
        }
    }
}