.manualteaser {
    &.layoutaudioliste {
        box-sizing: border-box;
        padding-bottom: 5px;
        padding-left: calc(#{$noPictPlayBtnSize} + 7px);
        position: relative;

        .ico.ico_download {
            margin-left: 0;
        }
    }
}