.player.audio {
    position: relative;
    &.isLoading::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: $spinnerSize;
        height: $spinnerSize;
        margin-top: -0.5*$spinnerSize;
        margin-left: -0.5*$spinnerSize;
        border-radius: 50%;
        border: $spinnerWidth solid $spinnerLight;
        border-top-color: $spinnerDark;
        animation: spinner .6s linear infinite;
        box-shadow: $playBtnShadow, inset $playBtnShadow;
        .layoutaudio_ohne_bild &,
        .layoutaudio_download_ohne_bild &,
        .layoutaudioliste & {
            width: 0.5*$spinnerSize;
            height: 0.5*$spinnerSize;
            border-color: $spinnerDark;
            border-top-color: $spinnerLight;
            box-shadow: none;
            left: 0;
            margin-top: 0.25*$spinnerSize;
            margin-left: 0.25*$spinnerSize;
        }
        .layoutaudio_ohne_bild &,
        .layoutaudio_download_ohne_bild & {
            margin-top: -#{0.5*$spinnerSize/2};
            top: 50%;
        }
        .layoutaudioliste & {
            margin-top: $audioListMarginTop;
            top: 0;
        }
        .layoutaudioliste.first & {
            margin-top: $audioListFirstMarginTop;
        }
    }
    .layoutaudio_ohne_bild &,
    .layoutaudio_download_ohne_bild &,
    &.player-livestream {
        background: $noPictBackground;
        font-size: $audioPlayerFontSize;
        height: $noPictPlayBtnSize;
        margin: $noPictMarginTop 0 0;
    }
    .layoutaudioliste & {
        height: 0;
        transition: all .3s ease;
        position: static;
        &.audioplayer-playing {
            height: #{$audioListPlayerHeight + $audioListContainerPadding};
        }
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}