.audiolist.player.audio {
    &.isLoading:before {
        box-shadow: none;
    }
    &.noseek {
        .audioplayer .audioplayer-time-duration {
            display: block;
        }
    }
}

.manualteaser {
    &.layoutaudioliste {
        box-sizing: border-box;
        padding-bottom: 5px;
        padding-left: calc(#{$noPictPlayBtnSize} + 7px);
        position: relative;

        .ico.ico_download {
            margin-left: 0;
        }
        .player.audio.isLoading {
            &:before {
                height: 28px;
                left: 0;
                margin-top: 15px;
                top: 0;
                width: 28px;
            }
        }
        @at-root .teaserbox > .manualteaser ~ .manualteaser,
        &.first.layoutaudioliste, &.first + .layoutaudioliste {
            .player.audio.isLoading:before {
                margin-top: 28px;
            }
        }
    }
}

.playlist_tables {
    .table_container {
        .audio {
            position: absolute;
            @include breakpoint(xs) {
                position: relative;
            }
        }
        .tr_audio {
            left: 12%;
            top: -40px;
            width: 100%;
            @include breakpoint(xs) {
                height: auto;
                line-height: 0;
                left: 0;
                position: relative;
                top: 0;
                td {
                    width: 100%;
                }
            }
            .player.audio {
                font-size: $audioPlayerBtnFontSize;
                height: $audioListPlayerHeight;
                left: -2em;
                overflow: hidden;
                transition: width .3s ease .1s;
                width: 3em;
                @include breakpoint(xs) {
                    height: 0;
                    left: 0;
                    overflow: visible;
                    transition: height .3s ease .1s;
                    width: 100%;
                }
                &.isLoading {
                    &:before {
                        margin-left: -16px;
                        @include breakpoint(xs) {
                            left: 15px;
                            margin-left: 0;
                            top: -25px;
                        }
                    }
                }
                &.audioplayer-playing {
                    overflow: visible;
                    transition: overflow .3s ease .3s;
                    width: calc(2em + 43%);
                    @include breakpoint(xs) {
                        height: $audioListPlayerHeight;
                        width: 100%;
                    }
                    .audioplayer {
                        overflow: visible;
                        transition: all .3s ease .1s;
                    }
                }
            }
            .audioplayer {
                height: 100%;
                left: 2em;
                margin-left: 5px;
                overflow: hidden;
                top: 0;
                width: calc(100% - 2em);
                z-index: 20;
                @include breakpoint(xs) {
                    bottom: 0;
                    height: $audioListPlayerHeight;
                    left: 0;
                    top: auto;
                    transition: none;
                    width: 100%;
                }
            }
        }
    }
}