.ardplayer .ardplayer-viewport .ardplayer-postercontrol,
.video-btn {
    background: url('/basis/grafik/spr-initbtn.svg') no-repeat;
    background-size: auto 2*$playBtnSize;
    background-position: 0 0;
    bottom: auto;    
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px black);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    height: $playBtnSize;
    width: $playBtnSize;
}

.video-btn {
    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
        background-position: 0 -1*$playBtnSize;
    }
    .player.isInitialized:not(.premium_content) & {
        display: none !important;
    }
}
