.player_close_btn {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    width: 40px;
    height: 40px;
    z-index: 99;
    background: rgba($playerDarkColor, .9);
    overflow: hidden;
    text-indent: -9999px;
    &:before, &:after {
        border-radius: 20%;
        content: '';
        position: absolute;
        width: 4px;
        height: 80%;
        background: white;
        top: 10%;
        display: block;
        left: 47%;
        transform: rotate(0deg);
        transition: all .3s ease-in-out .1s;
    }

    @at-root .expanded & {
        &:before {
            transform: rotate(-45deg);
        }
        &:after {
            transform: rotate(45deg);
        }
    }

    @at-root .stage-fullscreen & {
        display: none;
    }
}