#contentheader {
  &.premium {
    height: 50vw;
    max-height: 500px;
    transition: height 0.3s ease-out, max-height 0.3s ease-out;
    @include breakpoint(xs) {
      height: 315px;
      max-height: unset;
    }
    &.expanded {
      height: 625px;
      max-height: 625px;
      .player {
        &.infoportal {
          background-color: black;
        }
        &.video > img {
          opacity: 0.5;
        }
      }
      .textbox {
        opacity: 0;
        z-index: -1;
        @include breakpoint(xs) {
          opacity: 1;
          z-index: 1;
        }
      }
    }
    .header_slider {
      li > .infoportal {
        & > img, .ardplayer-posterimage {
          width: 100%;
          height: auto;
          margin: 0 auto;
          visibility: visible;
        }
        .video-btn, .ardplayer-postercontrol {
          left: 50%;
          top: 16%;
          transform: translateX(-50%);
          position: absolute;
          @include breakpoint(xs) {
            top: 10%;
          }
        }
      }
      .scrollcontent > li {
        overflow: hidden;
        position: relative;
        float: left;
        display: inline;
        width: 100%;
      }
      .ardplayer-video {
        left: 50%;
        max-height: 565px;
        max-width: 1005px;
        transform: translateX(-50%);
        @include breakpoint(md) {
          max-width: unset;
        }
      }
      .textbox {
        .description {
          top: 0;
          left: 0;
          color: #fff;
          font-family: 'InterstateBlackCond';
          line-height: 0.93;
          letter-spacing: -.02em;
          padding: 4% 0 0;
          text-transform: uppercase;
          transform: rotate(-4deg);
          transform-origin: 0 0;
          width: 50%;
          z-index: 1;
          text-shadow: 0 0 1px rgba(0, 0, 0, .33);
          position: relative;
          @include breakpoint(xs) {
            position: absolute;
          }
          a {
            color: #fff;
            text-decoration: none;
          }
          &.size1 {
            font-size: 55px;
          }
          &.size2 {
            font-size: 3.8vw;
            @include breakpoint(md) {
              font-size: 6.8vw;
            }
          }
          &.size3 {
            font-size: 110px;
          }
        }
        .proginfo {
          position: relative;
          top: -35px;
          padding: 50px 30px 25px 20px;
          @include breakpoint(xs) {
            position: static;
          }
          &.isEmpty {
            display: none;
          }
        }
      }
    }
  }
}