.player_close_btn {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
  width: 30px;
  height: 30px;
  z-index: 99;
  background: rgba($playerDarkColor, .9);
  overflow: hidden;
  text-indent: -9999px;
}